html {
	height: 100%;
}

body {
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.leaflet-container {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

.leaflet-popup-content-wrapper {
	border-radius: 0;
}

.leaflet-popup-content p {
	margin: 0;
	word-break: break-word;
}

.leaflet-popup-mmenu .leaflet-popup-content-wrapper {
	padding: 0;
}

.leaflet-popup-mmenu .leaflet-popup-content {
	margin: 0;
	min-width: 240px;
	min-height: 300px;
}

.leaflet-click-disabled {
	cursor: not-allowed;
}

.leaflet-click-allowed {
	cursor: -webkit-grab;
	cursor: -moz-grab;
}

.map-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.map-canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.map-outputs {
	position: absolute;
	top: 15px;
	right: 15px;
}

.map-output {
	font-size: 18px;
	font-weight: 700;
}

.map-debug {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 15px;
	width: 100%;
}

.map-debug textarea {
	width: 100%;
	height: auto;
}

.mm-menu {
	width: 100%;
	background: #ffffff;
}

.mmenu p {
	margin-top: -5px;
	margin-bottom: -15px;
	font-size: 18px;
}

.mmenu p+ul {
	/*border-top: solid 1px;*/
}

.mm-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	padding: 10px 20px 10px 0;
	color: #666 !important;
	font-size: 20px;
	font-weight: 300;
	line-height: 20px;
	text-align: right;
	text-decoration: none;
	z-index: 4;
}

.mm-close:focus,
.mm-close:hover {
	opacity: 0.5;
	text-decoration: none;
}

.mm-close:after {
	content: '×';
}

.mm-menu .mm-navbar {
	font-size: 14px;
}

.mm-menu .mm-navbar > *,
.mm-menu .mm-navbar a {
	color: #666;
}

/*.mm-menu .mm-prev:hover:before, 
.mm-menu .mm-next:hover:after, 
.mm-menu .mm-arrow:hover:after {
	opacity: .5;
	
}*/

.mm-menu .mm-navbar .mm-title {
	color: #0078A8;
}

.mm-menu .mm-navbar a[href]:hover {
	opacity: .5;
}

.mm-menu .mm-listview {
	font-size: 14px;
	line-height: 30px;
}

.mm-menu .mm-listview > li > a,
.mm-menu .mm-listview > li > span {
	color: #333;
	font-weight: 700;
}

.mm-menu .mm-listview > li.mm-selected-parent {
	/*background: rgba(0,120,168,0.1);*/
}

.mm-menu .mm-listview > li.mm-selected {
	background: rgba(0,120,168, 1);
	color: #fff;
}

.mm-menu .mm-listview > li.mm-selected-parent > a {
	
}

.mm-menu .mm-listview .mm-selected-parent .mm-next:before {
	border-left-width: 5px;
	border-left-color: rgba(0,120,168, 1);
	right: 0;
	left: auto;
}

.mm-menu .mm-listview > li.mm-selected > a:not(.mm-next),
.mm-menu .mm-listview > li.mm-selected > span {
	background: none;
	color: #fff;
}

.mm-menu .mm-listview > li:not(.mm-divider):after {
	left: 0;
}

.mm-menu .mm-listview > li:not(.mm-divider):after {
	content: '';
	border-bottom-width: 1px;
	border-bottom-color: #eee;
}

.mm-menu .mm-listview > li:last-child:after {
	border-bottom: 0;
}

.mm-menu .mm-listview .mm-next:before {
	border-left-width: 0;
}

.mm-menu .mm-prev:before, 
.mm-menu .mm-next:after, 
.mm-menu .mm-arrow:after {
	border-width: 1px;
}

.mm-menu .mm-navbar .mm-btn:before,
.mm-menu .mm-navbar .mm-btn:after {
	border-color: #666;
}

.mm-menu .mm-listview > li .mm-prev:before,
.mm-menu .mm-listview > li .mm-next:after,
.mm-menu .mm-listview > li .mm-arrow:after {
	border-color: rgba(0,0,0,.25);
}

.mm-menu .mm-selected .mm-prev:before,
.mm-menu .mm-selected .mm-next:after,
.mm-menu .mm-selected .mm-arrow:after {
	border-color: #fff;
}

.mm-menu .mm-navbar.disabled {
	pointer-events: none;
}

.mm-menu .mm-navbar.disabled a {
	opacity: .25;
}


.mm-form {
	height: 100%;
	margin: -20px;
}

.mm-form .mm-textarea {
	height: 100%;
	padding: 15px 10px 10px 15px;
	background: #fff;
	border: 0;
	border-radius: 0;
	resize: none;
}

.mm-disabled * {
	opacity: .5;
	text-decoration: line-through;
}

.option-select-image {
	float: left;
	position: relative;
	margin: 0 1ex 0 -10px
}

.option-select-image-hover {
	position: absolute;
	display: block;
	bottom: -4px;
	right: -4px;
	width: 20px;
	height: 20px;
	pointer-events: none;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background: rgba(0, 120, 168, .5);
	border-radius: 100%;
}

.option-select-image:hover .option-select-image-hover {
	background: rgba(0, 120, 168, .75);
}

.option-select-label {
	padding-right: 2ex;
	font-size: 14px;
	overflow: hidden;
	pointer-events: none;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.option-select-meta {
	float: right;
	opacity: .5;
	font-size: 80%;
	font-weight: 400;
	pointer-events: none;
}

.text-success {
	color: #3c763d !important;
}

.text-danger {
	color: #a94442 !important;
}